.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
  margin-top: -84px;
  background: linear-gradient(to bottom ,#fffaf1,#ffe2bd);
}

.enterFader {
  position: absolute;
  inset: 0px;  
  background: linear-gradient(to bottom ,#fffaf1,#ffe2bd);
  pointer-events: none;
}
